.Container{
    width: auto;
    height: 400px;
    padding: 20px;
    background-color: rgba(250, 235, 215, 0.726);
    display: flex;
    /*! flex-direction establece el eje principal y direccion */
    flex-direction:row;
    flex-wrap: wrap;

    /*! justify-content alinea en cuanto al ancho */
    justify-content: center;
    /*! align-items alinea en cuanto al alto */
    align-items: top;
}
.Cont{
    width: 160px;
    height: 160px;
    margin: 5px;
    background-image: url("/img/JavaScript.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: solid;
    border-color: black;
}
.Cont1{
    width: 160px;
    height: 160px;
    margin: 5px;
    background-color: aqua;
    background-image: url("/img/es6.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: solid;
    border-color: black;

}
.Cont2{
    width: 200px;
    height: 180px;
    margin: 5px;
    background-color: aqua;
    background-image: url("/img/jquery.png");
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: solid;
    border-color: black;
}
.Cont3{
    width: 200px;
    height: 180px;
    margin: 5px;
    background-color: rgb(38, 34, 111);
    background-image: url("/img/react.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: solid;
    border-color: black;
}
.Cont4{
    width: 200px;
    height: 180px;
    margin: 5px;
    background-color: white;
    background-image: url("/img/ajax.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: solid;
    border-color: black;
}
.Cont5{
    width: 200px;
    height: 180px;
    margin: 5px;
    background-color: rgb(121, 33, 222);
    background-image: url("/img/redux.jpg");
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: solid;
    border-color: black;
}
.Cont6{
    width: 200px;
    height: 180px;
    margin: 5px;
    background-color: white;
    background-image: url("/img/webpack.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: solid;
    border-color: black;
}
.Cont7{
    width: 200px;
    height: 180px;
    margin: 5px;
    background-color: white;
    background-image: url("/img/css.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: solid;
    border-color: black;
}
.Cont8{
    width: 200px;
    height: 180px;
    margin: 5px;
    background-color: white;
    background-image: url("/img/html.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: solid;
    border-color: black;
}
.Titulo {
    width: 700px;
}