.DivCard{
    border: 5px solid blue;
    background-color: lightgray;
    border-radius: 5px;
    width: 170px;
    padding: 10px;
    box-shadow: 0;
}
.DivCardButton{
    border: 1px solid rgb(242, 8, 8);
    display: flex;
    justify-content: flex-end;
}
.DivCardButton button {
    background-color: salmon;
    color: white;
    border: 0px;
    border-radius: 15px;
}
.DivCardTitles {
    border: 1px solid rgb(242, 8, 8);
    text-align: center;
    padding: 10px;
}
.DivCardTitles h2 {
    border: 1px solid rgb(242, 8, 8);
    margin: 2px;
    font-size: 15px;
    color:dimgray;
}
.DivCardTitles h4 {
    border: 1px solid rgb(39, 242, 8);
    margin: 2px;
    font-size: 15px;
    color:darkslategrey;
}
.ImgCard{
    width: 150px;
}